.info-div {
	border: 1px solid darkgray;
	height:80px;
}

.info-div .info{
	border:1px solid darkgray;
	height:100%;
}

#images li {
	float:left;
	width:25%;
	height:25%;
	margin : 10px;
}

.panel-title {
	padding-left:10px;
	color :white;
}

.panel {
	border-radius : 20px;
}

.panel-primary {
	border-color : #337ab7;
	border-width: 1px;
}

#title {
	padding:auto auto;
	color :#ffffff;
}