#map {
	width:100%;
	height:800px;
	border: 1px solid darkgray;
}


.item-list-container {
	border: 1px solid darkgray;
	height:800px;
	overflow-y: scroll;
}
.item-image {
	
	width:100%;
	height:100%;
}

.address-option {
	margin:0 auto;
	padding:0 auto;
}

.item-container {
	padding-left: 0px;
	padding-right:0px; !important;
}


.detail-option-container {
	background-color: #f8f6f3;
	padding:2px;
	margin:2px;
	border-radius:3px;

}

.drop-down-container {

}

.image-wrapper {
	display: inline-block;
    height: 25px;
    margin: 0 auto;
    text-align: center;
    width: 100%;

}

#down-button {
	margin :auto 1px;
	background-color:#59ab02;
	border-radius:2px;
	display: inline-block;
	width:50px;
	height:25px;
}

#down-button i {
	text-align: center;
	font-size:20px;
}
.option-input {
	width:40%;
	
}

.border-right {
	border-right: 1px solid black;

}

.item-header {
	background-color:#0ec4bf;
	border-radius:3px;
}

.detail-option-container {
	
}